
{# Template file is in Jinja syntax:
    https://jinja.palletsprojects.com/en/3.1.x/
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../frontend/styles/style.css" type="text/css" >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
  </head>
  <body>
"{{ url_for('static', filename='styles/style.css') }}"
#}

{% extends 'base.html' %}

{% block content %}

<!-- Hidden data for the scripts -->
<p id="expiresAt" hidden>{{ auc['expires'] }} </p>
<p id="hidePrice" hidden>{{ auc['starting_price'] }} </p>
<p id="hideTopBid" hidden>{{ auc['highest_bid_price'] }} </p>

<!-- Hidden data for the scripts ends -->

    <h1>{{ _("For sale: ")}} {{ auc['name'] }}</h1>

    <h2>{{ _("Auction closes in:")}} <span id="bestbefore"></span></h2>

    <div>
      <div class="left">
        <div>
                <div>
        <span>{{ _("Category: ")}} </span> <span>{{ auc['category'] }} </span>
                </div>
                <div>
        {% if auc['subcategory'] %}
        <span>{{ _("Subcategory")}} </span> <span>{{ auc['subcategory'] }} </span>
        {% endif %}
                </div>
<div>
        <span>{{ _("Initial price: ")}} </span> <span id="startingprice">{{ auc['starting_price'] }} </span><span class="curtag"></span>
</div>


        <div>
               <h2>{{ _("Description: ")}}</h2> 
               {{ auc['description'] }}
        </div>
        </div>

        <!--
                Hidden fields to get data to front.
        -->
        <div hidden id="hiddenexptime">
                {{auc['created_at']['[$date]']}}
        </div>
        <div hidden id="hiddenid">
                {{ auc['_id'] }}
        </div>
        
<div>
        <span>{{ _("Owner: ")}}</span> <span>{{ auc['owned_by'] }}</span>
</div>
       <div>

       </div> 
      </div>
      <div class="right">
        <h2>{{ _("Bids:")}}</h2>
        <div class="currentprice">
                {{ _("Current top bid: ")}} <span id="topbid" ></span> <span class="curtag"></span>
        </div>
        <ul>
          <li>{{ _("Latest bid: ")}}</li>
          <li>{{ auc['highest_bidder'] }}</li>
        </ul>
      </div>
    </div>
    {% if not (is_admin or is_owner) %}
    <form  id="biddingform"  accept-charset="utf-8">
      <h3>
    <label for="newbid"> {{ _("Make a bid: ")}} </label>
      </h3>      
    <input type="number" value="0" name="newbid" id="newbid"/>
    <span class="curtag"></span> </form> <br>
    <button id="bidbutton">  {{ _("Bid!")}} </button>
    </form>
    {% endif %}
  
    {% if  (is_admin or is_owner) %}
    <div>
            <h3>Delete auction:</h3>
            <form action="/auction_item/{{ auc['_id'] }}" method="DELETE" accept-charset="utf-8">
            <button id="delete" > Delete Auction</button>
                    
            </form>
    </div>
    {% endif %}

        {% if not is_admin %}
               <h3>{{ _("Share on social media:")}}</h3>
<div class="row justify-content-md-center">


        <div class="col-md-auto">
            <a href="https://twitter.com/intent/tweet?url={{ url_for('views.bidding', item_id=auc['_id'], _external=True) | urlencode }}&text={{ "Check out this awesome and cheap item." | urlencode }}" class="btn btn-twitter shaded" target="_blank" style="background-color: #1DA1F2; color:#fff;">
                {{ _("Twitter") }}
            </a>
            <a href="https://www.facebook.com/sharer.php?u={{ url_for('views.bidding', item_id=auc['_id'], _external=True) | urlencode }}" target="_blank" class="btn btn-twitter shaded" target="_blank" style="background-color: #4267B2; color:#fff;">
                
                {{ _("Facebook") }}
            </a>
            <a href="mailto:?subject={{ auc['name'] | urlencode }}&body={{ url_for('views.bidding', item_id=auc['_id'], _external=True) | urlencode }}" target="_blank" class="btn btn-primary shaded" target="_blank">
                
                {{ _("Email to friend") }}
            </a>
        </div>
    </div>
  {% endif %}
    <!-- Load main frontend script -->
 <script type="module" src="{{ url_for('static', filename='bidscript.js') }}" charset="utf-8">
   
 </script> 
 {% endblock %}


